/* -------------------------------------- *
General Styles
* --------------------------------------- */

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

header {
  background-image: url(../images/banners/trees-2.jpg);
  background-size: cover;
  height: 200px;
  background-position: center;
}
h1 {
  color: white;
  font-weight: bolder;
}
h2,
h3 {
  font-size: 36px;
  font-family: 'Josefin Sans', sans-serif;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: #ccc;
  padding: 12px;
}

.inspiration {
  width: 400px;
}

.contact {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(20, 88, 20);
}

.button {
    background-color: rgb(248, 186, 215);
    color: #fff;
    padding: 6px 10px;
    width: 60%;
    margin: 200px auto;
  }