@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  header {
    background-image: url(images/homeimage.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  
  nav {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  h1 {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    padding-top: 40vh;
  }
.subtitle {
  font-family: 'Amiri', serif;
  font-size: 50px;
}
  
  .albums {
    background-image: url(images/staticedited.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    width: 100vw;
    justify-content: space-around;
    display: flex;
  }
  .albums h1 {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-weight: bolder;
    font-size: 80px;
    text-align: left;
    margin-top: 20px;
    }
  .albums h2 {
    font-family: 'Work Sans', sans-serif;
    color: rgb(112, 109, 109);
    font-weight: normal;
    font-size: 24px;
    text-align: center;
  }
  .albums h3 {
    font-family: 'Amiri', serif;
    font-size: 26px;
  }
  .albums p {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
  }

  .collabs {
    background-image: url(images/collabs.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .collabs p {
    font-family: 'Amiri', serif;
    font-size: 50px;
    text-align: center;
  }
  .about {
    background-image: url(images/staticedited.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .videos {
    background-image: url(images/videobackground.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
  }