@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:wght@300;400&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgb(191, 177, 215);
  }
  img {
    width: 100%;
  }
  
  header {
    background-image: url(images/tarotcards.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
  }
  h1 {
    color: white;
    font-weight: bolder;
  }
  h2 {
    font-family: 'Poiret One', cursive;
    font-size: 80px;
    text-align: center;
    color: rgb(252, 253, 193);
    padding-top: 50px;
  }

  h3 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
  }
  p {
      text-align: center;
      font-family: 'Poiret One', cursive;
      font-size: 18px;
  }
  main,
  header h1,
  nav div {
    width: 85%;
    margin: auto;
  }
  header {
    padding: 40px 0;
  }
  nav {
    position: absolute;
    background-color: rgb(252, 253, 193);
    padding: 5px;
    right: 0px;
    left: 0px;
    padding-right: 50px;
  }
  nav a:link {
    color: black;
    text-decoration: none;
  }
  nav a:visited {
    color: rgb(209, 208, 208);
    text-decoration: none;
  }
  nav a:hover {
    color: rgb(191, 177, 215);
  }
  nav a:active
  {
    color: rgb(209, 208, 208);
  }
  nav ul {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

  }

  .open {
    font-size: 28px;
  }
  .logo img {
    width: 200px;
    padding-left: 120px;
  }
  .about {
      background-color: rgb(255, 184, 188);
      background-size: cover;
  }
  .about h1{
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 72px;
    padding-top: 100px;
  }
  .about p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }
  .about img {
    width: 440px;
  }
  .socials {
    display: flex;
  }
  .socialscolumn {
    flex: 50%;
  }
  .socials img{
    width: 40px;
    padding-left: 90px;
  }
  .content2 {
    font-weight: normal;
    color: rgb(252, 253, 193);
  }
  .readings {
    background-color: rgb(190, 226, 255);
    background-size: cover;
  }
  .readings h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 72px;
    padding-top: 100px;
  }
  .readings h2 {
    font-size: 40px;
  }
  .readinginfo {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-left: 20px;
    padding-right: 20px;
  }
  .readinginfo img {
    width: 480px;
    padding-bottom: 15px;
  }
  .contactform {
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 10%;
    padding-bottom: 40px;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: black;
    color: white;
    padding: 10px 35px;
    text-decoration: none;
    margin: 4px 200px;
    cursor: pointer;
  }

  input[type=text-area] {
  width: 50%;
  height: 130px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=text] {
  margin: 0;
  box-sizing: border-box;
}

  .shopping {
    background-color: rgb(255, 184, 95);
    background-size: cover;
  }
  .shopping h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 72px;
    padding-top: 100px;
  }
  .shopping img{
    width: 300px;
    padding-bottom: 50px;
    padding-left: 37px;
  }
  .row {
    flex: 50%;
    padding-left: 70px;
  }

  @media (min-width: 768px) {

    .readinginfo img {
      width: 725px;
      padding-bottom: 15px;
    }

    .shopping img {
      width: 200px;
    }
    .row {
      flex: 50%;
      padding-left: 70px;
    }
    
    .column {
      display: flex;
    }
  }

  @media (min-width: 1440px) {

    .readings {
      position: relative;
    }
    .readingscontent {
      display: flex;
      position: relative;
    }
    .readinginfo {
      flex: 50%;
    }
    .readings h2 {
      flex: 50%;
    }
    .contactform {
      display: flex;
      width: 45%;
      margin: 0;
      padding-right: 80px;
      padding-top: 200px;
    }
    input[type=button], input[type=submit], input[type=reset] {
      background-color: black;
      color: white;
      padding: 10px 35px;
      text-decoration: none;
      margin: 4px 200px;
      cursor: pointer;
    }
  
    input[type=text-area] {
    width: 50%;
    height: 130px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  
  input[type=text] {
    margin: 0;
    box-sizing: border-box;
  }

  }


  