@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:wght@300;400&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgb(191, 177, 215);
  }
  img {
    width: 100%;
  }
  
  header {
    background-image: url(images/tarotcards.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
  }
  h1 {
    color: white;
    font-weight: bolder;
  }
  h2 {
    font-family: 'Poiret One', cursive;
    font-size: 95px;
    text-align: center;
    color: rgb(252, 253, 193);
  }

  h3 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
  }
  p {
      text-align: center;
      font-family: 'Poiret One', cursive;
      font-size: 18px;
  }
  main,
  header h1,
  nav div {
    width: 85%;
    margin: auto;
  }
  header {
    padding: 40px 0;
  }
  nav a {
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    border-style: solid;
    background-color: rgb(255, 184, 188);
    border-color: rgb(255, 184, 188);
    
  }
  nav a:link {
    color: black;
    text-decoration: none;
  }
  nav a:visited {
    color:black;
    text-decoration: none;
  }
  nav a:hover {
    color: rgb(252, 253, 193);
  }
  nav {
    background-color: rgb(252, 253, 193);
    padding: 12px;
  }

  .open {
    font-size: 28px;
  }
  .logo img {
    width: 200px;
    padding-left: 100px;
  }
  .about {
      background-color: rgb(255, 184, 188);
      background-size: cover;
  }
  .about h1{
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 72px;
  }
  .about p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }
  .about img {
    width: 600px;
  }
  .socials img{
    width: 40px;
  }
  .content2 {
    font-weight: normal;
    color: rgb(252, 253, 193);
  }
  .readings {
    background-color: rgb(190, 226, 255);
    background-size: cover;
  }
  .readings h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 72px;
  }
  .readings h2 {
    font-size: 40px;
  }
  .readinginfo {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-left: 20px;
    padding-right: 20px;
  }
  .readinginfo img {
    width: 450px;
  }

  .shopping {
    background-color: rgb(255, 184, 95);
    background-size: cover;
  }
  .shopping h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 72px;
  }
  .shopping img{
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .shopboxes {
    display: flex;
    flex-direction: column;
  }
  